<div class="container mx-auto px-2 sm:px-0 py-10">
    {% if cart.item_count > 0 %}
      <h1 class="my-8 text-2xl font-bold tracking-wide">Shopping Cart</h1>
      <form action="/cart" method="post" novalidate>
          <div class="container mx-auto">
            {% for item in cart.items %}
              <div class="my-6 flex flex-wrap sm:flex-nowrap items-center">
                <div class="mr-2 sm:mr-6">
                  <a href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: 'medium' }}" class="rounded-50 object-cover h-120 w-120 rounded-full" alt="{{ item.title | escape }}">
                  </a>
                </div>
                <div class="flex-grow">
                  <a class="font-semibold text-xs sm:text-sm" href="{{ item.url }}">{{ item.product.title }}</a>
                </div>
                <div class="flex-grow">{{ item.price | money }}</div>
                <div class="w-5/6 sm:w-auto flex justify-end">
                  <input class="text-center mr-4" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                </div>
                <div class="flex-grow">
                  {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  <!-- {{ item.line_price | money }} -->
                  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                  <a class="sm:float-right font-semibold" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">X</a>
                </div>
              </div>
            {% endfor %}
          </div>
        <div class="flex w-11/12 justify-end items-end">
          <p class="mr-3">Subtotal : <span class="font-bold text-2xl	">{{ cart.total_price | money }}</span></p>
          <button class="btn_tertiary text-sm text-black font-bold py-2 px-4 rounded-sm mr-3" type="submit" name="update">Update</button>
          <button class="btn_checkout text-sm text-black font-bold py-2 px-4 rounded-sm mr-3" type="submit" name="checkout">Checkout</button>
        </div>
      </form>
    {% else %}
      <h2>cart</h2>
      Cart is empty
    {% endif %}

</div> 